<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="/">
<!-- 查询 -->
	<select id="selectBaoxian" parameterType="com.cn.domain.Baoxian" resultType="com.cn.domain.Baoxian">
		select * from Baoxian
		<where>
		<if test="id!='' and id!=null">
                id=#{id}
		</if>
		<if test="leixing!='' and leixing!=null">
            and    leixing=#{leixing}
		</if>
		<if test="jine!='' and jine!=null">
            and    jine=#{jine}
		</if>
		<if test="shijian!='' and shijian!=null">
            and    shijian=#{shijian}
		</if>
		<if test="shichang!='' and shichang!=null">
            and    shichang=#{shichang}
		</if>
		<if test="shuhui!='' and shuhui!=null">
            and    shuhui=#{shuhui}
		</if>
		<if test="shuhuia!='' and shuhuia!=null">
            and    shuhuia=#{shuhuia}
		</if>
		<if test="shuhuib!='' and shuhuib!=null">
            and    shuhuib=#{shuhuib}
		</if>
		<if test="recordDate!='' and recordDate!=null">
            and    recordDate=#{recordDate}
		</if>
		<if test="userid!='' and userid!=null">
            and    userid=#{userid}
		</if>
		<if test="status!='' and status!=null">
            and    status=#{status}
		</if>
		</where>
	</select>

<!-- add new record -->
 	<insert id="insertBaoxian" parameterType="com.cn.domain.Baoxian">
  		insert into Baoxian (leixing,jine,shijian,shichang,shuhui,shuhuia,shuhuib,recordDate,userid,status) values ("${leixing}","${jine}","${shijian}","${shichang}","${shuhui}","${shuhuia}","${shuhuib}","${recordDate}","${userid}","${status}")
 	</insert>

<!-- update -->
	<update id="updateBaoxian" parameterType="com.cn.domain.Baoxian">
		update Baoxian
		<trim prefix="set" suffixOverrides=","> 
			<if test="id!='' and id!= null">id=#{id},</if>
			<if test="leixing!='' and leixing!= null">leixing=#{leixing},</if>
			<if test="jine!='' and jine!= null">jine=#{jine},</if>
			<if test="shijian!='' and shijian!= null">shijian=#{shijian},</if>
			<if test="shichang!='' and shichang!= null">shichang=#{shichang},</if>
			<if test="shuhui!='' and shuhui!= null">shuhui=#{shuhui},</if>
			<if test="shuhuia!='' and shuhuia!= null">shuhuia=#{shuhuia},</if>
			<if test="shuhuib!='' and shuhuib!= null">shuhuib=#{shuhuib},</if>
			<if test="recordDate!='' and recordDate!= null">recordDate=#{recordDate},</if>
			<if test="userid!='' and userid!= null">userid=#{userid},</if>
			<if test="status!='' and status!= null">status=#{status},</if>

		</trim>
		where id=#{id} 
	</update>

<!-- delete-->
	<delete id="deleteBaoxian" parameterType="com.cn.domain.Baoxian">
		delete from Baoxian where id=#{id}
	</delete>
</mapper>
