<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="/">
<!-- 查询 -->
	<select id="selectHuoqi" parameterType="com.cn.domain.Huoqi" resultType="com.cn.domain.Huoqi">
		select * from Huoqi
		<where>
		<if test="id!='' and id!=null">
                id=#{id}
		</if>
		<if test="xinxi!='' and xinxi!=null">
            and    xinxi=#{xinxi}
		</if>
		<if test="xingming!='' and xingming!=null">
            and    xingming=#{xingming}
		</if>
		<if test="jine!='' and jine!=null">
            and    jine=#{jine}
		</if>
		<if test="recordDate!='' and recordDate!=null">
            and    recordDate=#{recordDate}
		</if>
		<if test="userid!='' and userid!=null">
            and    userid=#{userid}
		</if>
		<if test="status!='' and status!=null">
            and    status=#{status}
		</if>
			<if test="product!='' and product!=null">
				product=#{product}
			</if>
		</where>
	</select>

<!-- add new record -->
 	<insert id="insertHuoqi" parameterType="com.cn.domain.Huoqi">
  		insert into Huoqi (xinxi,xingming,jine,recordDate,userid,status,product) values ("${xinxi}","${xingming}","${jine}","${recordDate}","${userid}","${status}","${product}")
 	</insert>

<!-- update -->
	<update id="updateHuoqi" parameterType="com.cn.domain.Huoqi">
		update Huoqi
		<trim prefix="set" suffixOverrides=","> 
			<if test="id!='' and id!= null">id=#{id},</if>
			<if test="xinxi!='' and xinxi!= null">xinxi=#{xinxi},</if>
			<if test="xingming!='' and xingming!= null">xingming=#{xingming},</if>
			<if test="jine!='' and jine!= null">jine=#{jine},</if>
			<if test="recordDate!='' and recordDate!= null">recordDate=#{recordDate},</if>
			<if test="userid!='' and userid!= null">userid=#{userid},</if>
			<if test="status!='' and status!= null">status=#{status},</if>
			<if test="product!='' and product!= null">product=#{product},</if>

		</trim>
		where id=#{id} 
	</update>

<!-- delete-->
	<delete id="deleteHuoqi" parameterType="com.cn.domain.Huoqi">
		delete from Huoqi where id=#{id}
	</delete>
</mapper>
